# hours, minutes to pause in-between checks
HOURS=1
MINS=1

# Time to Sleep if an error occurs in the loop..
# This will stop infinite alerts! 30-60 mins is recommended,
# 0 will send no alerts.
DELAY_IN_MINS=1

# Out of Sync range - Blocks out of sync to consider as an issue--
# Example OK - Equal:
# Local Block Number: 1317805
# RPC Block Number:   1317805

# Example OK - 5 blocks allowed either side.:
# Local Block Number: 1317800
# RPC Block Number:   1317804

# Number of blocks to be considered in-range
ACCEPTABLE_RANGE=5

# receive fully synced alerts (all is ok!!0
FULLY_SYNCED_NOTIFICATIONS=True
FULLY_SYNCED_NOTIFICATIONS_PER_DAY=12

# Email Options
SEND_EMAIL=True
EMAIL_SMTP=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_TO=
PORT=465

# Mapstats Telegram Bot Options
SEND_ALERT_TO_MAPSTATS=True
MAPSTATS_TOKEN=<MAPSTATS_TOKEN>
